<app-header />
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="/assets/images/favicon.png"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Sign up for an account
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      class="space-y-6"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Email address
        </label>

        <div class="mt-2">
          <input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            required
            aria-invalid="true"
            aria-describedby="email-error"
            formControlName="email"
          />
        </div>

        <div
          *ngIf="
            formControl.email.errors &&
            (formControl.email.dirty || formControl.email.touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="email-error"
        >
          <div *ngIf="formControl.email.errors.email">
            Please enter a valid email address.
          </div>
          <div *ngIf="formControl.email.errors.required">
            Email is required.
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
        </div>

        <div class="mt-2">
          <input
            autocomplete="current-password"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            id="password"
            type="password"
            required
            name="password"
            aria-invalid="true"
            aria-describedby="password-error"
            formControlName="password"
          />
        </div>

        <div
          *ngIf="
            formControl.password.errors &&
            (formControl.password.dirty || formControl.password.touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="email-error"
        >
          <div *ngIf="formControl.password.hasError('required')">
            Password is required.
          </div>
          <div *ngIf="formControl.password.hasError('minlength')">
            Password must be at least 8 characters.
          </div>
          <div *ngIf="formControl.password.hasError('invalidPassword')">
            Password must contain at least one uppercase letter, one lowercase
            letter, one number, and one special character.
          </div>
        </div>

        <!--        <div *ngIf="formControl.password.errors && formControl.password.dirty-->
        <!--        || formControl.password.touched" class="mt-2 text-sm text-red-600" id="password-error">-->
        <!--          <div *ngIf="formControl.password.errors.required">Password is required.</div>-->
        <!--          <div *ngIf="formControl.password.errors.pattern">-->
        <!--            <ul>-->
        <!--              <li>Password should be alphanumeric</li>-->
        <!--              <li>A letter of the password should be capital</li>-->
        <!--              <li>Password must contain a special character (@, $, !, &, etc)</li>-->
        <!--              <li>Password length must be greater than 7 characters</li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Sign up
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already have an account?
      <a
        routerLink="/sign-in"
        class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
        >Sign in</a
      >
    </p>
  </div>
</div>
