<div class="bg-white flex h-screen">
  <div class="flex flex-1 flex-col overflow-hidden">
    <div class="flex flex-1 items-stretch overflow-hidden">
      <main class="flex-1 overflow-y-auto">
        <div class="mx-auto max-w-7xl px-4 pt-8 sm:px-6 lg:px-8">
          <div class="flex">
            <h1 class="flex-1 text-xl font-semibold text-gray-900">
              Analytic Reports
            </h1>
            <div
              class="ml-6 flex items-center rounded-lg bg-gray-100 p-0.5 sm:hidden"
            >
              <button
                class="rounded-md p-1.5 text-gray-400 hover:bg-white hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                type="button"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  x-description="Heroicon name: mini/bars-4"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M2 3.75A.75.75 0 012.75 3h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 3.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.166a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
                <span class="sr-only">Use list view</span>
              </button>
              <button
                class="ml-0.5 rounded-md bg-white p-1.5 text-gray-400 shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                type="button"
              >
                <svg
                  aria-hidden="true"
                  class="h-5 w-5"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  x-description="Heroicon name: mini/squares-2x2"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M4.25 2A2.25 2.25 0 002 4.25v2.5A2.25 2.25 0 004.25 9h2.5A2.25 2.25 0 009 6.75v-2.5A2.25 2.25 0 006.75 2h-2.5zm0 9A2.25 2.25 0 002 13.25v2.5A2.25 2.25 0 004.25 18h2.5A2.25 2.25 0 009 15.75v-2.5A2.25 2.25 0 006.75 11h-2.5zm9-9A2.25 2.25 0 0011 4.25v2.5A2.25 2.25 0 0013.25 9h2.5A2.25 2.25 0 0018 6.75v-2.5A2.25 2.25 0 0015.75 2h-2.5zm0 9A2.25 2.25 0 0011 13.25v2.5A2.25 2.25 0 0013.25 18h2.5A2.25 2.25 0 0018 15.75v-2.5A2.25 2.25 0 0015.75 11h-2.5z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
                <span class="sr-only">Use grid view</span>
              </button>
            </div>
          </div>

          <div class="py-7">
            <!-- Dropdown to select a specific merchant -->
            <label
              class="block text-sm font-medium text-gray-700"
              for="merchantSelect"
              >Select a Merchant:
            </label>

            <select
              (change)="onSelectMerchant(selectedMerchantId)"
              [(ngModel)]="selectedMerchantId"
              class="mt-1 block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
              id="merchantSelect"
            >
              <option disabled value="">Select a merchant</option>
              <option value="">All</option>
              <option
                *ngFor="let merchant of allAnalytics"
                [value]="merchant.merchant._id"
              >
                {{ merchant.merchant.name }}
              </option>
            </select>
          </div>

          <!-- Dynamic Tab Selection -->
          <div class="mt-3 sm:mt-2" x-data="{ openTab: 1 }">
            <div class="sm:block">
              <div class="flex items-center border-b border-gray-200">
                <nav
                  *ngIf="!selectedMerchantId"
                  aria-label="Tabs"
                  class="-mb-px flex flex-1 space-x-6 xl:space-x-8"
                >
                  <button
                    (click)="showProductSoldChart()"
                    class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600': openTab === 1, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': openTab !== 1 }"
                    x-on:click.prevent="openTab = 1"
                  >
                    Product Sold
                  </button>
                  <button
                    (click)="showPurchasingPowerChart()"
                    class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600': openTab === 2, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': openTab !== 2 }"
                    x-on:click.prevent="openTab = 2"
                  >
                    Purchasing Power
                  </button>
                </nav>
                <nav
                  *ngIf="selectedMerchantId"
                  aria-label="Tabs"
                  class="-mb-px flex flex-1 space-x-6 xl:space-x-8"
                >
                  <button
                    (click)="showSelectedProductSold()"
                    class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600': openTab === 1, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': openTab !== 1 }"
                    x-on:click.prevent="openTab = 1"
                  >
                    Product Sold
                  </button>
                  <button
                    (click)="showSelectedPurchasingPower()"
                    class="whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600': openTab === 2, 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300': openTab !== 2 }"
                    x-on:click.prevent="openTab = 2"
                  >
                    Purchasing Power
                  </button>
                </nav>

                <div
                  class="ml-6 hidden items-center rounded-lg bg-gray-100 p-0.5 sm:flex"
                >
                  <button
                    class="rounded-md p-1.5 text-gray-400 hover:bg-white hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    type="button"
                  >
                    <svg
                      aria-hidden="true"
                      class="h-5 w-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      x-description="Heroicon name: mini/bars-4"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        clip-rule="evenodd"
                        d="M2 3.75A.75.75 0 012.75 3h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 3.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.166a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zm0 4.167a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                    <span class="sr-only">Use list view</span>
                  </button>
                  <button
                    class="ml-0.5 rounded-md bg-white p-1.5 text-gray-400 shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                    type="button"
                  >
                    <svg
                      aria-hidden="true"
                      class="h-5 w-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      x-description="Heroicon name: mini/squares-2x2"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        clip-rule="evenodd"
                        d="M4.25 2A2.25 2.25 0 002 4.25v2.5A2.25 2.25 0 004.25 9h2.5A2.25 2.25 0 009 6.75v-2.5A2.25 2.25 0 006.75 2h-2.5zm0 9A2.25 2.25 0 002 13.25v2.5A2.25 2.25 0 004.25 18h2.5A2.25 2.25 0 009 15.75v-2.5A2.25 2.25 0 006.75 11h-2.5zm9-9A2.25 2.25 0 0011 4.25v2.5A2.25 2.25 0 0013.25 9h2.5A2.25 2.25 0 0018 6.75v-2.5A2.25 2.25 0 0015.75 2h-2.5zm0 9A2.25 2.25 0 0011 13.25v2.5A2.25 2.25 0 0013.25 18h2.5A2.25 2.25 0 0018 15.75v-2.5A2.25 2.25 0 0015.75 11h-2.5z"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                    <span class="sr-only">Use grid view</span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <section aria-labelledby="gallery-heading" class="mt-8 pb-16">
            <!-- Display analytics data for the selected merchant -->
            <div *ngIf="selectedMerchantId">
              <div *ngIf="isSelectedProductSold">
                <canvas
                  id="selectedProductSoldChart"
                  class="border border-indigo-600 rounded-lg"
                ></canvas>
              </div>

              <!-- Total Spent Chart -->
              <div *ngIf="isSelectedPurchasingPower">
                <canvas
                  id="selectedPurchasingPowerChart"
                  class="border border-indigo-600 rounded-lg"
                ></canvas>
              </div>
            </div>

            <!-- Display analytics data for all merchants -->
            <div *ngIf="!selectedMerchantId">
              <div *ngIf="isAllProductSold">
                <canvas
                  id="allProductSoldChart"
                  class="border border-indigo-600 rounded-lg"
                ></canvas>
              </div>

              <!-- Total Spent Chart -->
              <div *ngIf="isAllPurchasingPower">
                <canvas
                  id="allPurchasingPowerChart"
                  class="border border-indigo-600 rounded-lg"
                ></canvas>
              </div>
            </div>
          </section>
        </div>
      </main>

      <!-- Details sidebar -->
      <aside
        class="hidden w-96 overflow-y-auto border-l border-gray-200 bg-white p-8 lg:block"
      >
        <div
          *ngIf="allMerchantStats && !selectedMerchantId && isAllProductSold"
          class="space-y-6 pb-16"
        >
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Merchants
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ allMerchantStats.totalMerchants }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Products Sold
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ allMerchantStats.totalProductsSold }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Avg. Products Sold
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ allMerchantStats.averageProductsSold?.toFixed(2) }}
            </dd>
          </div>
        </div>
        <div
          *ngIf="
            allMerchantStats && !selectedMerchantId && isAllPurchasingPower
          "
          class="space-y-6 pb-16"
        >
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Amount Spent
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              ${{ allMerchantStats.totalAmountSpent }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Avg. Amount Spent
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              ${{ allMerchantStats.averageAmountSpent.toFixed(2) }}
            </dd>
          </div>
        </div>

        <div
          *ngIf="selectedMerchantId && isSelectedProductSold"
          class="space-y-6 pb-16"
        >
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Products
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ productSoldStats.totalProducts }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Sold Products
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ productSoldStats.totalSoldProducts }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Avg. Sold Products
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ productSoldStats.averageSoldProducts?.toFixed(2) }}
            </dd>
          </div>
        </div>
        <div
          *ngIf="selectedMerchantId && isSelectedPurchasingPower"
          class="space-y-6 pb-16"
        >
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Customers
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              {{ purchasingPowerStats.totalCustomers }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Total Spent
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              ${{ purchasingPowerStats.totalSpent }}
            </dd>
          </div>
          <div
            class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6"
          >
            <dt class="truncate text-sm font-medium text-gray-500">
              Avg. Spending Per Customer
            </dt>
            <dd
              class="mt-1 text-3xl font-semibold tracking-tight text-indigo-600"
            >
              ${{ purchasingPowerStats.averageSpendingPerCustomer?.toFixed(2) }}
            </dd>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
