<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="/assets/images/favicon.png"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Change Password
    </h2>
  </div>

  <!-- Change Password Form -->
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
      class="space-y-6"
    >
      <!-- Current Password Field -->
      <div>
        <label
          for="currentPassword"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Current Password</label
        >
        <div class="mt-2">
          <input
            formControlName="currentPassword"
            id="currentPassword"
            name="currentPassword"
            type="password"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <div
          *ngIf="
            formControl.currentPassword.errors &&
            (formControl.currentPassword.dirty || formControl.currentPassword.touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="currentPassword-error"
        >
          <div *ngIf="formControl.currentPassword.hasError('required')">
            Current password is required.
          </div>
        </div>
      </div>

      <!-- New Password Field -->
      <div>
        <label
          for="newPassword"
          class="block text-sm font-medium leading-6 text-gray-900"
          >New Password</label
        >
        <div class="mt-2">
          <input
            formControlName="newPassword"
            id="newPassword"
            name="newPassword"
            type="password"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <div
          *ngIf="
            formControl.newPassword.errors &&
            (formControl.newPassword.dirty || formControl.newPassword.touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="newPassword-error"
        >
          <div *ngIf="formControl.newPassword.hasError('required')">
            New password is required.
          </div>
          <div *ngIf="formControl.newPassword.hasError('minlength')">
            New Password must be at least 8 characters.
          </div>
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div>
        <label
          for="confirmPassword"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Confirm Password</label
        >
        <div class="mt-2">
          <input
            formControlName="confirmPassword"
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            required
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
        <div
          *ngIf="
            formControl.confirmPassword.errors &&
            (formControl.confirmPassword.dirty || formControl.confirmPassword.touched)
          "
          class="mt-2 text-sm text-red-600 alert"
          id="confirmPassword-error"
        >
          <div *ngIf="formControl.confirmPassword.hasError('required')">
            Confirm password is required.
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        <button
          [disabled]="changePasswordForm.invalid"
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-gray-50 disabled:text-gray-500"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
