<section>
  <!-- Container for Account Management -->
  <div class="bg-white">
    <!-- Header Section -->
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8 border-b border-gray-200 pb-5"
    >
      <h1 class="text-2xl font-semibold text-gray-900">Manage Account</h1>
    </div>

    <!-- Main Content Section -->
    <div class="py-12 px-4 sm:px-6 lg:px-8">
      <div>
        <!-- Applicant Information Header -->
        <h3 class="text-lg font-medium leading-6 text-gray-900">
          Applicant Information
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Personal details and application.
        </p>
      </div>

      <div class="mt-5 border-t border-gray-200">
        <!-- Details List -->
        <dl class="sm:divide-y sm:divide-gray-200" *ngIf="merchant">
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Full name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.name }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Contact Number</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.contact_number }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Email address</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.email }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Status</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.status }}
            </dd>
          </div>
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">
              Company Description
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.company_description }}
            </dd>
          </div>

          <!-- Attachments Section -->
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">Attachments</dt>
            <dd
              *ngIf="merchant.documents.length > 0"
              class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"
            >
              <ul
                role="list"
                class="divide-y divide-gray-200 rounded-md border border-gray-200"
              >
                <li
                  *ngFor="let document of merchant.documents"
                  class="flex items-center justify-between py-3 pl-3 pr-4 text-sm"
                >
                  <div class="flex w-0 flex-1 items-center">
                    <svg
                      class="h-5 w-5 flex-shrink-0 text-gray-400"
                      x-description="Heroicon name: mini/paper-clip"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>

                    <!-- Document Name -->
                    <span class="ml-2 w-0 flex-1 truncate">{{ document.filename }}</span>
                  </div>
                  <div class="ml-4 flex-shrink-0">
                    <a
                      href="http://localhost:3000/api/merchants/server/src/uploads/{{document.filename}}"
                      target="_blank"
                      class="font-medium text-indigo-600 hover:text-indigo-500"
                      download
                      >Download</a
                    >
                  </div>
                </li>
              </ul>
            </dd>
          </div>

          <!-- Document Description Section -->
          <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
            <dt class="text-sm font-medium text-gray-500">
              Document Description
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              {{ merchant.document_description}}
            </dd>
          </div>


          <div class="py-4 sm:grid sm:grid-cols-1 sm:py-5">
            <dt class="text-sm font-medium text-gray-500 flex justify-end">
              <button
                (click)="rejectMerchant(merchant)"
                type="button"
                class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Reject
              </button>
              <button (click)="sendEmail()">Send Email</button>

              <button
                (click)="approveMerchant(merchant)"
                type="button"
                class="ml-3 inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              >
                Approve
              </button>
            </dt>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
